@using System.Data
@model dynamic
@{
    ViewData["Title"] = "DownLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title mb-0"> Today Team Business </h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead>
                            <tr>
                                <th>Member ID</th>
                               
                                <th>Today’s Business</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in ((DataTable)ViewBag.TeamList).Rows)
                            {
                                <tr>
                                    <td>@row["memLogId"]</td>
                                   
                                    <td>$ @string.Format("{0:0.00}", row["todayBusiness"])</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
