@model Bigprofits.Models.MemberInfo
@{
	ViewData["Title"] = "MemberUpdate";
	Layout = "~/Areas/Admin/Views/Shared/_AALayout.cshtml";
}

@if (TempData["msg"] != null)
{
	<div style="text-align: center;padding: 5px;color: #b7114e;font-weight: 900;"> @TempData["msg"] </div>
}

<div class="container-fluid ">
	<div class="card shadow mb-4">
		<div class="card-header bg-info py-3">
			<h6 class="m-0 font-weight-bold text-white">Member Update</h6>
		</div>
		<div class="card-body">
			<form action="/britglbl253adpnl/Member-Update" method="post">
				<div class="row">
					<div class="col-4">
						<div class="mb-3">
							<label class="form-label">Member ID</label>
							<input asp-for="MemberId" readonly class="form-control" />
						</div>
					</div>

					@* <div class="col-4">
						<div class="mb-3">
							<label class="form-label">User Password</label>
							<input asp-for="MemLogPass" class="form-control" />
						</div>
					</div> *@

					<div class="col-4">
						<div class="mb-3">
							<label class="form-label">Sponsor ID</label>
							<input asp-for="SpoId" readonly class="form-control" />
						</div>
					</div>

					@* <div class="col-4">
						<div class="mb-3">
							<label class="form-label">Open Level</label>
							<input asp-for="MemRank" class="form-control" />
						</div>
					</div> *@

					@* <div class="col-4">
						<div class="mb-3">
							<label class="form-label">User Name</label>
							<input asp-for="MemName" class="form-control" />
						</div>
					</div> *@

					<div class="col-4">
						<div class="mb-3">
							<label class="form-label">Registration Date </label>
							<input asp-for="MemReg" class="form-control" />
						</div>
					</div>

					<div class="col-4">
						<div class="mb-3">
							<label class="form-label">Wallet Address USDT (BEP-20)</label>
							<input asp-for="MemAddress" class="form-control" />
						</div>
					</div>

					@* <div class="col-4">
						<div class="mb-3">
							<label class="form-label">Mobile</label>
							<input asp-for="MemMobile" class="form-control" />
						</div>
					</div>

					<div class="col-4">
						<div class="mb-3">
							<label class="form-label">Email ID</label>
							<input asp-for="MemEmail" class="form-control" />
						</div>
					</div> *@
				</div>

				<div class="mb-3 text-center">
					<input type="submit" value="UPDATE" class="btn btn-info" />
				</div>

			</form>
		</div>
	</div>
</div>



@section Scripts {


}
