@model Bigprofits.Models.MemberInfo

@{
    ViewData["Title"] = "ChangeLoginPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="text-align: center;padding: 5px;color: #b7114e;font-weight: 900;" id="passmsg"></div>



<div class="row justify-content-center ">
    <div class="col-12 col-sm-6">
        <!-- Start-->
        <div class="card shadow mb-4 ">
            <div class="card-header bg-primary py-3">
                @* Remove Span*@
                <h6 class="m-0 font-weight-bold text-white" style="color:green"> Change Password <span> </span></h6>
            </div>
            <div class="card-body">
                <div class=" ">
                    @* <label>&nbsp; Member Id</label>*@

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MemId" />

                    <div class="form-group">
                        <label class="control-label">Old Password</label>
                        <input id="txtoldpass" required class="form-control w-full border rounded-lg py-2 px-3" />
                        <div class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        <input id="txtnewpass" required class="form-control w-full border rounded-lg py-2 px-3" />
                        <div class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <input id="txtconfmpass" required class="form-control w-full border rounded-lg py-2 px-3" />
                        <div class="text-danger"></div>
                    </div>

                    <div class="form-group m-3" style="text-align:center">
                        <input type="submit" id="btnSubmit" value="Submit" class="btn bg-primary text-white" />
                    </div>


                </div>
            </div>
        </div>
        <!-- End-->
    </div>
</div>





@*

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 bg-info">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MemId" />

        <div class="form-group">
            <label class="control-label">Old Password</label>
            <input id="txtoldpass" required class="form-control" />
            <div class="text-danger"></div>
        </div>
        <div class="form-group">
            <label class="control-label">New Password</label>
            <input id="txtnewpass" required class="form-control" />
            <div class="text-danger"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <input id="txtconfmpass" required class="form-control" />
            <div class="text-danger"></div>
        </div>

        <div class="form-group" style="text-align:center">
            <input type="submit" id="btnSubmit" value="Save" class="btn " />
        </div>
        
    </div>
    <div class="col-md-4">
    </div>
</div>
*@




@section Scripts {

<script>

       $("#btnSubmit").on("click", function(){
       changepasswordjs()
       })

     function changepasswordjs(){
     var op=$("#txtoldpass").val();
     var np=$("#txtnewpass").val();
     var cp=$("#txtconfmpass").val();
     if(np!=cp){
       $("#txtnewpass").val("");
       $("#txtconfmpass").val("");
       $("#txtoldpass").val("");
       $("#passmsg").text("New And Confirm Password Doesn't Match");
     }
     else
     {
     $.ajax({
                    url: "/britglbl253adpnl/Change-Password",
           method:"post",
           data:{ op:op,np:np,cp:cp},
           dataType:"Json",
           success:function(data){
               console.log(data);
           $("#txtnewpass").val("");
            $("#txtconfmpass").val("");
             $("#txtoldpass").val("");
           $("#passmsg").text(data);
           }
       })
    }
    }
</script>

}
