@model Bigprofits.Models.MemberInfo

@{
    Layout = null;
}

<html lang="en" class="h-100">


<!-- Mirrored from dolab.dexignzone.com/xhtml/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jun 2024 05:32:35 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="s">
	<meta name="format-detection" content="">

	<!-- PAGE TITLE HERE -->
	<title>CoinPayWallet</title>

	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	<link href="/coinpaywallet/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
	<link href="/coinpaywallet/vendor/jquery-autocomplete/jquery-ui.css" rel="stylesheet">
	<link href="/coinpaywallet/css/style.css" rel="stylesheet">

</head>

<body class="body  h-100">
	<div class="animation">
		<!-- <span class="circle one"></span>
		<span class="circle two"></span>
		<span class="circle three"></span>
		<span class="circle four"></span>
		<span class="line-1 ">
			<svg width="1920" height="450" viewBox="0 0 1920 450" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path opacity="0.3" d="M0 155L95.4613 293.923C106.459 309.928 131.116 305.943 136.512 287.289L209.86 33.7127C215.892 12.8576 244.803 11.2033 253.175 31.2341L344.838 250.546C352.224 268.217 376.708 269.648 386.102 252.958L519.839 15.3693C529.061 -1.01332 552.975 -0.0134089 560.797 17.0818L716.503 357.389C724.454 374.766 748.899 375.43 757.782 358.51L902.518 82.8223C911.524 65.6685 936.406 66.653 944.028 84.4648L1093.06 432.731C1101.14 451.601 1128.01 451.247 1135.58 432.172L1291.33 39.9854C1298.27 22.5135 1322.1 20.2931 1332.14 36.1824L1473.74 260.126C1482.47 273.922 1502.38 274.494 1511.88 261.221L1667.88 43.3025C1678.17 28.9257 1700.16 31.0533 1707.5 47.1365L1844.91 348.06C1853.69 367.287 1881.58 365.486 1887.81 345.29L1970 79" stroke="url(#paint0_linear_332_3757)" stroke-opacity="0.4" stroke-width="6" stroke-linecap="round"/>
				<defs>
				<linearGradient id="paint0_linear_332_3757" x1="1946.24" y1="352.062" x2="-1.52124" y2="345.607" gradientUnits="userSpaceOnUse">
				<stop offset="" stop-color="#6E4AFF"/>
				<stop offset="0.479167" stop-color="#E43BFF"/>
				<stop offset="1" stop-color="#6E4AFF"/>
				</linearGradient>
				</defs>
			</svg>
		</span>
		<span class="line-2">
			<svg width="1920" height="459" viewBox="0 0 1920 459" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 89L103.191 296.201C112.034 313.958 137.703 312.941 145.114 294.54L224.847 96.5574C232.264 78.141 257.962 77.1423 266.786 94.9275L352.649 267.995C360.863 284.553 384.264 285.148 393.31 269.03L516.226 50.0159C525.164 34.0902 548.205 34.4325 556.666 50.6167L713.497 350.608C721.71 366.318 743.86 367.222 753.326 352.234L901.462 117.684C911.188 102.286 934.102 103.763 941.771 120.282L1091.14 442.062C1099.38 459.816 1124.62 459.817 1132.86 442.064L1303.17 75.2544C1310.64 59.1685 1332.73 57.2308 1342.89 71.7713L1469.94 253.703C1479.15 266.893 1498.71 266.794 1507.78 253.511L1671.82 13.4627C1681.74 -1.05968 1703.63 0.478486 1711.42 16.2459L1844.42 285.267C1853.64 303.905 1880.89 301.723 1887.02 281.857L1970 13" stroke="url(#paint0_linear_332_3758)" stroke-opacity="0.4" stroke-width="6" stroke-linecap="round"/>
				<defs>
				<linearGradient id="paint0_linear_332_3758" x1="1946.24" y1="286.062" x2="-1.52105" y2="279.607" gradientUnits="userSpaceOnUse">
				<stop offset="" stop-color="#6E4AFF"/>
				<stop offset="0.479167" stop-color="#E43BFF"/>
				<stop offset="1" stop-color="#6E4AFF"/>
				</linearGradient>
				</defs>
			</svg>
		</span> -->

	</div>
	<div class="container h-100">
		<div class="row h-100 align-items-center justify-contain-center">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body ">
						<div class="row m-0">
							<div class="col-xl-6 col-md-6 sign text-center">
								<div>

									<img src="/coinpaywallet/images/log.png" class="education-img"></img>
								</div>
							</div>
							<div class="col-xl-6 col-md-6">
								<div class="sign-in-your">
									<h3 style="text-align:center">Forget Password to your account</h3>


								</div>

								<form asp-action="ForgetPassword" method="post">
								
									@if (TempData["forgetMsg"] != null)
									{
										<div class="text-warning"> @TempData["forgetMsg"] </div>
									}
									<div class="mb-3">
										<label class="mb-1"><strong>Login ID</strong></label>
										<input type="text" asp-for="MemberId" class="form-control" placeholder="Enter your Member Id">
									</div>
									
									<div class="row d-flex justify-content-between mt-4 mb-2">
										<div class="mb-3">
											<div class="form-check custom-checkbox ms-1">
												<input type="checkbox" class="form-check-input" id="basic_checkbox_1">
												<label class="form-check-label" for="basic_checkbox_1">Remember my preference</label>
											</div>
										</div>
										<div class="mb-3">
											<a href="/account/sign-in">Log in</a>
										</div>
										<div class="d-flex align-items-center justify-content-center mt-2">
											<p class="mb-0">New to Website?</p>
											<a class="fw-medium ms-2" href="/account/create-account">Register an account</a>
										</div>
									</div>
									<div class="text-center">
										<button type="submit" class="btn btn-primary btn-block">Forget Password</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>


	<!-- Required vendors -->
	<script src="/coinpaywallet/vendor/global/global.min.js"></script>
	<script src="/coinpaywallet/vendor/jquery-autocomplete/jquery-ui.js"></script>
	<script src="/coinpaywallet/js/custom.min.js"></script>
	<script src="/coinpaywallet/js/dlabnav-init.js"></script>
	<script src="/coinpaywallet/js/styleSwitcher.js"></script>
	<script>
		$("#MemberId").keyup(function () {
			if ($(this).val() != "") {
				isMemberIdExist($(this).val());
			}
			//else $("#txtSpName").val("");
		})
		function isMemberIdExist(idMember) {
			try {
				$.ajax({
					url: "/Home/isMemberIdExist/",
					method: 'post',
					data: { idMember: idMember },
					dataType: "text",
					success: function (data) {
						console.log(data);
						if (data == "1") {
							$("#forgetbtn").removeAttr("disabled");
							$("#DigMsg").text("");
						}
						else {
							$("#forgetbtn").attr("disabled", "disabled");
							$("#DigMsg").text("Member id does not exists..!");
						}
					}
				});
			} catch (e) {
				console.log(e)
			}
		}
	</script>
</body>

</html>














