

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div style="text-align:center" >

    <h1 style="text-align:center" >  @ViewBag.msg </h1>

    <div style="text-align:center" >
    <a  type=""  asp-controller="AWallet" asp-action="FundRequestHistory" role="button" class="btn btn-primary" 
     style="background: cadetblue;padding: 16px;border-radius: 7px;color: white;" >  OK </a>
  </div>
  </div>
</body>
</html>
