@using System.Data
@model DataSet
@using Bigprofits.Common;


@{
    ViewData["Title"] = "Topup History";
    Layout = "~/Areas/Admin/Views/Shared/_AALayout.cshtml";
}


<div class="page-heading">
    <!-- Basic Tables start -->
    <section class="section">
        <div class="card">
            <div class="card-header" style="background: #435ebe;color: white;padding: 15px;">
                TOTAL   BUSINESS HISTROY
            </div>
            <div class="card-body mt-3 overflow-auto">
                <table class="table table-responsive text-nowrap text-center" id="table1">
                    <thead>
                        <tr>

                            <th>
                                Sno
                            </th>
                            <th>
                                Member Id
                            </th>

                            <th>
                                Member Package
                            </th>
                            <th>
                                Date
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno2 = 1;
                        }

                        @foreach (DataRow row in Model.Tables[0].Rows)
                        {
                            <tr>
                                <td>@sno2</td>
                                <td>@row["memberId"]</td>



                                <td>@("$" + Convert.ToDecimal(row["cmitReqAmount"]).ToString("0.00"))</td>
                                <td>@row["cmitsdate"]</td>


                            </tr>
                            sno2++;
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </section>
    <!-- Basic Tables end -->
</div>


