<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\Bigprofits.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

			<!-- Reverse proxy config -->
			<rewrite>
				<rules>
					<!-- Proxy /blockchain/* to Node API -->
					<rule name="Proxy to Node API" stopProcessing="true">
						<match url="^NodeApi(.*)" ignoreCase="true" />
						<action type="Rewrite" url="http://localhost:5001{R:1}" />
						<serverVariables>
							<set name="HTTP_X_Forwarded_For" value="{REMOTE_ADDR}" />
						</serverVariables>
					</rule>
				</rules>
			</rewrite>

		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: d7788ba5-5012-4bf8-84a9-9b738692a433-->